@{
    Layout = "~/Views/Shared/_Layout_index.cshtml";
    ViewBag.Title = "简历投递";
}
<div class="main-z">
    <div class="row">
        <div class="bm">
			<div class="bm_block" data-bm="ghy">
                <a class="bm_href" href="~/BaoMing/ghy">
                    <div class="bm_logo">
                        <img src="~/img/ghy_logo_small.png">
                    </div>
                    <p>光华园网站</p>
                </a>
            </div>
            <div class="bm_block" data-bm="xbjzt">
                <a class="bm_href" href="~/BaoMing/xbjzt">
                    <div class="bm_logo">
                        <img src="~/img/xbjzt_logo.jpg">
                    </div>
                    <p>校报记者团</p>
                </a>
            </div>
            <div class="bm_block" data-bm="xczs">
                <a class="bm_href" href="~/BaoMing/xczs">
                    <div class="bm_logo">
                        <img src="~/img/xczs_logo.png">
                    </div>
                    <p>西财之声广播站</p>
                </a>
            </div>
            <div class="bm_block" data-bm="xmtzx">
                <a class="bm_href" href="~/BaoMing/xmtzx">
                    <div class="bm_logo">
                        <img src="~/img/xmtzx_logo.png">
                    </div>
                    <p>新媒体中心</p>
                </a>
            </div>
            <div class="bm_block" data-bm="xywh">
                <a class="bm_href" href="~/BaoMing/xywh">
                    <div class="bm_logo">
                        <img src="~/img/xywh_logo.png">
                    </div>
                    <p>校园文化研究社</p>
                </a>
            </div>
        </div>
    </div>
</div>